{% extends "base.html" %}{% block title %} - Login{% endblock %}
{% block content %}                          

<div class="d-flex justify-content-center align-items-center pt-4" style="height: 70vh">                         
    <div class="card text-center" style="align-self: center;">
        <div class="row">

            <div class="col-6 pe-0 d-flex justify-content-center">
                {% load static %}
              <img src="{% static 'img/login.jpg' %}" style="width:14rem; height:auto;" alt="login">
            </div>

            <div class="col-6 ps-0">
                <div class="card-body bg-cream rounded-end py-5">
                    <h1 class="card-title title mb-3 fw-bold">Iniciar Sesión</h1>
                    {%if 'invalid' in request.GET%} <div class="bg-light rounded py-2 mb-3"><p>Formulario invalido.<br>Intente nuevamente.</p></div>
                    {%elif 'wronguser' in request.GET%}<div class="bg-light rounded py-2 mb-3"><p>Nombre de usuario y/o<br>contraseña incorrectos.</p></div>
                    {%endif%}
                    <form class="card-body p-0" action="#" method="POST">
                        {% csrf_token %}
                        <div class="mx-3">
                        {{form.as_p}}
                        </div>
                        <input class="btn btn-styles mt-3 w-100 text-white" type="submit" value="Iniciar Sesión">
                        <!--
                        <div class="col-6">
                            <div class="form-group form-check ms-4">
                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Recordame</label>
                            </div>
                        </div>
                        -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}