{% extends "base.html" %}{% block title %} - Registrarse{% endblock %}
{% block content %}                          

    <div class="pt-5 p-5">
        <h1 class="title">Registrate</h1>

        {% load static %}
        {% if messages %}
        <br>
        <div class="d-flex alert alert-light align-items-center" role="alert" style="font-size: 1rem; padding: 10px;">
            <img src="{% static 'svg/exclamation-triangle.svg' %}" style="width: 2rem;"/>
            {% for message in messages %}
                <p class="ms-3 fs-5 mb-0 title">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <br>

        <form action="#" method="POST">
            <div class="card-body bg-cream rounded p-4">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group mb-3">
                        <span class="title fs-4">{{ field.label_tag }} <br> </span>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message"> <br> {{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <input class="mt-3 fs-3 btn btn-styles" type="submit" value="Registrarse">
            </div>
        </form>
    </div>

{% endblock %}