.test{background-color: blue;}


@font-face {
    font-family: 'League';
    src: url('/static/fonts/LeagueSpartan-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Garet';
    src: url('/static/fonts/Garet-Book.ttf') format('truetype');
}

.title-main{
    font-family: 'League', sans-serif;
    font-size: xx-large;
}
.title{font-family: 'League', sans-serif; /*font-size: medium;*/}

body{
    font-family: 'Garet', sans-serif;
    font-size: larger;
}