{% extends "base.html" %}{% block title %}Register{% endblock %}
{% block content %}                          

    <h1>Blog</h1> <br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum repellat sint molestias ea eum maiores ducimus, ipsum qui, rem omnis dignissimos natus quia laborum! Praesentium voluptatibus ullam magni ipsam mollitia.
    Temporibus ullam magnam, fugit est natus reprehenderit voluptatibus repellendus sed error cumque, incidunt dolorum sequi consectetur ipsa iure, tenetur qui id aut optio quasi corrupti ducimus fugiat obcaecati. Dolores, labore.</p>

{% endblock %}