{% extends "base.html" %}{% block title %} - Postear{% endblock %}
{% block content %}                                <!-- GETS FROM ctx: unis, cats, carreras & query -->

    {% load static %}

    <h2 class="title fs-1 mb-4 pt-4">Creación de posts</h2>

    <div class="row justify-content-center">

        <form action="#" method="POST" class="bg-cream col-9 rounded p-4">
            <div class="row">
                <div class="col-6">
                    <h3 for="titleInput" class="form-label">Título</h3>
                    <input type="text" class="form-control" id="titleInput" name="title" required>
                </div>
                <div class="col-6">
                    <h3 for="topics" class="form-label">Tópicos</h3>
                    <select class="form-select" multiple id="topics" name="topics" required>
                        {%for i in topics%}<option value={{i.id}}>{{i.name}}</option>{%endfor%}
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <h3 for="contentInput" class="form-label">Contenido</h3>
                <textarea class="form-control" id="contentInput" rows="6" name="content" required></textarea>
            </div>
            <button type="submit" class="btn btn-styles">POSTEAR</button>{% csrf_token %}
        </form>

    </div>

{% endblock %}