{% extends "base.html" %}{% block title %}{{carrera}}{% endblock %}
{% block content %}                          <!-- GETS FROM ctx: carrera -->

    <h1>{{carrera.name}}</h1> <br>

    <h3>Universidad: <a href="{% url 'main:uni' carrera.uni.id %}">{{carrera.uni.name}}</a>
         | Categoría: {{carrera.cat.name}}</h3>
    <p>{{carrera.desc}}</p>
    
    <h5>
        {% if not carrera.is_public %}Precio: ${{carrera.precio}} pesos<br>{% endif %}
        Modalidad: {{carrera.modalidad}}<br>
        Duración: {{carrera.duration}} años
    </h5>

{% endblock %}