{% extends "base.html" %}{% block title %} - Comparador{% endblock %}
{% block content %}                          

<h2 class="title fs-1 mb-4">COMPARADOR DE {{type|upper}}</h2>
<div class="dropdown">
    <button class="btn btn-styles dropdown-toggle" type="button" data-bs-toggle="dropdown">Cambiar comparador</button>
    <ul class="dropdown-menu">
        {% if type != 'unis' %}<li><a class="dropdown-item" href="{% url 'main:compare' 'unis' %}">Universidades</a></li>{%endif%}
        {% if type != 'carreras' %}<li><a class="dropdown-item" href="{% url 'main:compare' 'carreras' %}">Carreras</a></li>{%endif%}
        {% if type != 'cursos' %}<li><a class="dropdown-item" href="{% url 'main:compare' 'cursos' %}">Cursos</a></li>{%endif%}
        {% if type != 'becas' %}<li><a class="dropdown-item" href="{% url 'main:compare' 'becas' %}">Becas</a></li>{%endif%}
    </ul>
</div>

{% load custom_filters %}
<form action="#" method="get" class="my-5">
    <div class="row d-flex align-items-center text-center">

        <div class="col-5">
            <select class="form-select" name="id1">
                <option value="" disabled selected hidden>Selecciona una opción</option>
                {%for i in options%}
                    <option value="{{i.id}}" {% if i.id == request.GET.id1|to_int %} selected {% endif %}>{{i}}</option>
                {%endfor%}
            </select>
        </div>
        
        <input type="submit" class="btn btn-styles btn-lg col-2" value="COMPARAR">

        <div class="col-5">
            <select class="form-select" name="id2">
                <option value="" disabled selected hidden>Selecciona una opción</option>
                {%for i in options%}
                <option value="{{i.id}}" {% if i.id == request.GET.id2|to_int %} selected {% endif %}>{{i}}</option>
                {%endfor%}
            </select>
        </div>
        
    </div>    
</form>


{% if chosen %}<div class="row">
    {% if type == 'unis' %} {% for uni, carreras, cursos, becas in chosen %}
    <!--|------------------------- FOR UNIS -------------------------|-->

    <div class="col-6">
        <div class="card">
            <div class="card-header bg-cream">
                <h2 class="title mb-0">{{ uni.name }}</h2>
            </div>
            <img class="card-img-top rounded-0" src="{{uni.imgs.first.img.url}}"/>
            <div class="card-body">
                <p class="p-2 mb-0">{{ uni.desc }}</p>
                <h3>Carreras</h3>
                <ul>
                    {% for i in carreras %}
                       <li><a class="links" href="{% url 'main:one' 'carreras' i.id %}">{{i}}</a></li>
                       {%empty%} <li>No hay becas disponibles</li>
                    {%endfor%}
                </ul>
                <h3>Cursos</h3>
                <ul>
                    {% for i in cursos %}
                       <li><a class="links" href="{% url 'main:one' 'cursos' i.id %}">{{i}}</a></li>
                       {%empty%} <li>No hay becas disponibles</li>
                    {%endfor%}
                </ul>
                <h3>Becas</h3>
                <ul class="mb-0">
                    {% for i in becas %}
                       <li><a class="links" href="{% url 'main:one' 'becas' i.id %}">{{i}}</a></li>
                       {%empty%} <li>No hay becas disponibles</li>
                    {%endfor%}
                </ul>
                <a href="{% url 'main:one' 'unis' uni.id %}" class="btn btn-styles mt-3">Ver detalles</a>
            </div>
        </div>
    </div>

    {%endfor%} {% elif type == "carreras" %} {% for i in chosen %}
    <!--|------------------------- FOR CARRERAS -------------------------|-->

    <div class="col-6">
        <div class="card">
            <div class="card-header bg-cream">
                <h2 class="title mb-0">{{ i.name }}</h2>
            </div>
            <div class="card-body">
                <p>{{i.desc}}</p>
                <p style="color: {{i.cat.color}};"><span class="fw-bold text-black">Categoría: </span>{{i.cat.name}}</p>
                <p><span class="fw-bold">Universidad: </span>{{i.uni.name}}</p>
                <p><span class="fw-bold">Duración: </span>{{i.duration}} años</p>
                <p><span class="fw-bold">Modalidad: </span>{{i.modalidad}}</p>
                {% load custom_filters %}
                <p>
                    <span class="fw-bold"> Costo mensual: </span>
                    {% if not i.is_public %}$ {{i.precio|to_int}} ARS
                    {% else %}Pública (Sin arancel){% endif %}
                </p>
                <a href="{% url 'main:one' 'carreras' i.id %}" class="btn btn-styles">Ver detalles</a>
            </div>
        </div>
    </div>    
    
    {%endfor%} {% elif type == "cursos" %} {% for i in chosen %}
    <!--|------------------------- FOR CURSOS -------------------------|-->

    <div class="col-6">
        <div class="card">
            <div class="card-header bg-cream">
                <h2 class="title mb-0">{{ i.name }}</h2>
            </div>
            <img class="card-img-top rounded-0" src="{{i.imgs.first.img.url}}"/>
            <div class="card-body">
                <p>{{i.desc}}</p>
                <p style="color: {{i.cat.color}};"><span class="fw-bold text-black">Categoría: </span>{{i.cat.name}}</p>
                <p><span class="fw-bold">Universidad: </span>{{i.uni.name}}</p>
                <p><span class="fw-bold">Duración: </span>{{i.duration}} años</p>
                <p><span class="fw-bold">Modalidad: </span>{{i.modalidad}}</p>
                {% load custom_filters %}
                <p><span class="fw-bold">Costo mensual: </span>$ {{i.precio|to_int}} ARS</p>
                <p><a href="{{ i.enroll }}" class="links">INSCRIBIRSE</a></p>
                <a href="{% url 'main:one' 'cursos' i.id %}" class="btn btn-styles">Ver detalles</a>
            </div>
        </div>
    </div>

    {%endfor%} {%else%} {% for i in chosen %}
    <!--|------------------------- FOR BECAS -------------------------|-->

    <div class="col-6">
        <div class="card">
            <div class="card-header bg-cream">
                <h2 class="title mb-0">{{ i.name }}</h2>
            </div>
            <div class="card-body">
                <p>{{i.desc}}</p>
                <p><span class="fw-bold">Universidad: </span>{{i.uni.name}}</p>
                {% load custom_filters %}
                <p><span class="fw-bold">Costo cubierto: </span>$ {{i.precio|to_int}} ARS</p>
                <p><a href="{{ i.enroll }}" class="links">POSTULARSE</a></p>
                <a href="{% url 'main:one' 'becas' i.id %}" class="btn btn-styles">Ver detalles</a>
            </div>
        </div>
    </div>

    {%endfor%} {%endif%}

</div> {%endif%}

{% endblock %}