{% extends "base.html" %}{% block title %}Comparador{% endblock %}
{% block content %}                          

<h2 class="title fs-1 mb-4">COMPARADOR</h2>
{% if type == 'unis' %}
<a href="{% url 'main:compare' 'carreras' %}" class="btn btn-styles no-line">Cambiar a carreras</a>
{% elif type == 'carreras' %}
<a href="{% url 'main:compare' 'unis' %}" class="btn btn-styles no-line">Cambiar a universidades</a>
{%endif%}

{% load custom_filters %}
<form action="#" method="get" class="my-5">
    <div class="row d-flex align-items-center text-center">

        <div class="col-5">
            <select class="form-select" name="id1">
                <option value="" disabled selected hidden>Selecciona una opción</option>
                {%for i in options|dictsort:"name"%}
                    <option value="{{i.id}}" {% if i.id == request.GET.id1|to_int %} selected {% endif %}>{{i}}</option>
                {%endfor%}
            </select>
        </div>
        
        <input type="submit" class="btn btn-styles btn-lg col-2" value="COMPARAR">

        <div class="col-5">
            <select class="form-select" name="id2">
                <option value="" disabled selected hidden>Selecciona una opción</option>
                {%for i in options|dictsort:"name"%}
                <option value="{{i.id}}" {% if i.id == request.GET.id2|to_int %} selected {% endif %}>{{i}}</option>
                {%endfor%}
            </select>
        </div>
        
    </div>    
</form>

{% if chosen %}<div class="row">
    
    {% if type == 'unis' %} {% for uni, carreras in chosen %}

    <div class="col-6">
        <div class="card">
            <div class="card-header bg-cream">
                <h2 class="title mb-0">{{ uni.name }}</h2>
            </div>
            <div class="card-body">
                <ul class="mb-0">
                    {% for i in carreras %}
                        <li><a class="links" href="{% url 'main:carrera' i.id %}">{{i}}</a></li>
                    {%endfor%}
                </ul>           
            </div>
        </div>
    </div>

    {%endfor%} {% else %} {% for i in chosen %}
    
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-cream">
                <h2 class="title mb-0">{{ i.name }}</h2>
            </div>
            <div class="card-body">
                <p>{{i.desc}}</p>  
            </div>
        </div>
    </div>
    
    
    {%endfor%} {%endif%}

</div>{%endif%}

{% endblock %}