{% extends "base.html" %}{% block title %}Search by...{% endblock %}
{% block content %}                                <!-- GETS FROM ctx: unis, cats, carreras & filter -->

    <h1>RESULTADOS PARA {{filter}}</h1>                                <!-- SHOWS filter -->

    <h4><a href="{% url 'main:home' %}">LIMPIAR FILTROS</a></h4>      <!-- GOES TO home -->

    <h3 class="test">FILTRAR POR:</h3>
    <p>Categorías: {% for i in cats %} <a href="{% url 'main:filter' 'cat' i.id %}">{{i.name}}</a>{% endfor %}</p>
    <p>Universidades: {% for i in unis %} <a href="{% url 'main:filter' 'uni' i.id %}">{{i.name}}</a>{% endfor %}</p>
    <!-- SHOWS ALL unis & cats AVAILABLE; IF CLICK, GOES TO filter URL WITH TYPE OF FILTER & ID -->

    <h2>CARRERAS:</h2>                                              <!--SHOWS ALL carreras FILTERED-->
    <ul>{% for i in carreras %}<li><a href="{% url 'main:carrera' i.id %}">{{i}}</a></li>{% endfor %}</ul>

{% endblock %}