{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}                          <!-- GETS FROM ctx: unis, cats & carreras -->

    <h1>HOME</h1> <br>

    <h2>UNIS<br>
    <div class="row row-cols-1 g-4">
        {% for i in unis %}
        <div class="col">
            <div class="card">
                <img src="{{i.imgs.first.img.url}}" class="card-img-top" alt="{{i.name}}">
                <div class="card-body">
                    <a class="card-title title" href="{% url 'main:uni' i.id %}">{{i.name}}</a> 
                    <p class="card-text">{{i.desc}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    

    <h4><a href="{% url 'main:search' %}">IR A BÚSQUEDA</a></h4>
    
    {% load custom_filters %}
    {% for i in cats %}
    <h2 class="title">{{i.name}}</h2>
    <ul>
        <li><form method="GET" action="{% url 'main:search' %}">
            <input type="hidden" name="cat" value="{{i.id}}"><input type="submit" value="VER TODOS">
        </form></li>
        {% for j in carreras|get_by_cat:i.id %}
            <li><a href="{% url 'main:carrera' j.id %}">{{j}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

{% endblock %}