{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}                          <!-- GETS FROM ctx: unis, cats & carreras -->

    <h1>HOME</h1> <br>

    <h2>UNIS<br>
        Universidades: {% for i in unis %} 
        <a href="{% url 'main:uni' i.id %}">{{i.name}}</a>
        <img src="{{i.imgs.first.img.url}}" alt="Image not available">
        {% endfor %}<br>
    </h2>

    <h4><a href="{% url 'main:search' %}">IR A BÚSQUEDA</a></h4>
    
    {% load custom_filters %}
    {% for i in cats %}
    <h2>{{i.name}}</h2>
    <ul>
        <li><form method="GET" action="{% url 'main:search' %}">
            <input type="hidden" name="cat" value="{{i.id}}"><input type="submit" value="VER TODOS">
        </form></li>
        {% for j in carreras|get_by_cat:i.id %}
            <li><a href="{% url 'main:carrera' j.id %}">{{j}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

{% endblock %}