{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}                          <!-- GETS FROM ctx: unis, cats & carreras -->

    <h2 class="title fs-1">HOME</h2>

    <h4><a href="{% url 'main:unis' %}">VER UNIVERSIDADES</a></h4>

    <h4><a href="{% url 'main:search' %}">IR A BÚSQUEDA</a></h4>
    
    {% load custom_filters %}
    {% for i in cats %}
    <h2 class="title">{{i.name}}</h2>
    <ul>
        <li><form method="GET" action="{% url 'main:search' %}">
            <input type="hidden" name="cat" value="{{i.id}}"><input type="submit" value="VER TODOS">
        </form></li>
        {% for j in carreras|get_by_cat:i.id %}
            <li><a href="{% url 'main:carrera' j.id %}">{{j}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

{% endblock %}