{% extends "base.html" %}{% block title %} - {{type}}{% endblock %}
{% block content %}                          <!-- GETS FROM ctx: unis, cats & carreras -->

    {% load static %}

    <h2 class="title fs-1 mb-4 pt-4">{{type|upper}}</h2>
    
    <div class="row row-cols-4 g-4">
        {% for i in result %}
        <div class="col">
            <div class="card">
                {% if type != "becas" %}
                <img src="{{i.imgs.first.img.url}}" class="card-img-top" alt="{{i.name}}">
                {%endif%}
                <div class="card-body">
                    <a class="card-title title" href="{% url 'main:one' type i.id %}">{{i.name}}</a> 
                    <p class="card-text">{{i.desc|slice:":100"}}...</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <section class="clear text-center mt-2">
        {% if result.has_previous %}<a class="fs-1 links" href="?page={{ result.previous_page_number }}"><img src="{% static 'svg/arrow-up-solid.svg' %}" style="width: 2rem; transform: rotate(-90deg);"></a>{% endif %}
        <span class="mx-4"></span>
        {% if result.has_next %}<a class="fs-1 links" href="?page={{ result.next_page_number }}"><img src="{% static 'svg/arrow-up-solid.svg' %}" style="width: 2rem; transform: rotate(90deg);"></a>{% endif %}
    </section>

{% endblock %}