{% extends "base.html" %}{% block title %} - {{one}}{% endblock %}
{% block content %}                          <!-- GETS FROM ctx: carrera -->

    {% load custom_filters %}
    {% load static %}

    {% if type == "unis" %}

        <div class="video-container rounded-4 rounded-top-0" style="height: 20rem; width: 100wv;">
            <img src="{{one.imgs.first.img.url}}" alt="{{one}}" class="video-background">
            <div class="overlay text-white d-flex justify-content-center" style="align-items: center;">
                <h1 class="title" >{{one.name}}</h1>
            </div>
        </div>

        <div class="px-5">
            <p class="my-5">{{ one.desc|linebreaksbr }}</p>

            <div class="row bg-light-reddish my-5 py-3 justify-content-center gap-5 rounded-3 text-center">
                <div class="col-4 bg-cream rounded-3 py-2">
                    <span class="title fs-3">Tipo: </span> {{one.tipo}}
                </div>
                <div class="col-4 bg-cream rounded-3 py-2">
                    <span class="title fs-3">Ubicación: </span> {{one.location}}
                </div>
            </div>
            
            <div class="row justify-content-center gap-5">
                <div class="card col-3 p-0">
                    <div class="card-header bg-cream">
                        <h3 class="card-title title mb-0">CARRERAS</h3>
                    </div>
                    <div class="card-body">
                        {%if carreras%}<ul>{% for i in carreras %}<li><a href="{% url 'main:one' 'carreras' i.id %}" class="links">{{i.name}}</a></li>{% endfor %}</ul>
                        {%else%}<p>No hay carreras disponibles</p>{%endif%}
                    </div>
                </div>
                <div class="card col-3 p-0">
                    <div class="card-header bg-cream">
                        <h3 class="card-title title mb-0">CURSOS</h3>
                    </div>
                    <div class="card-body">
                        {%if cursos%}<ul>{% for i in cursos %}<li><a href="{% url 'main:one' 'cursos' i.id %}" class="links">{{i.name}}</a></li>{% endfor %}</ul>
                        {%else%}<p>No hay cursos disponibles</p>{%endif%}
                    </div>
                </div>
                <div class="card col-3 p-0">
                    <div class="card-header bg-cream">
                        <h3 class="card-title title mb-0">BECAS</h3>
                    </div>
                    <div class="card-body">
                        {%if becas%}<ul>{% for i in becas %}<li><a href="{% url 'main:one' 'becas' i.id %}" class="links">{{i.name}}</a></li>{% endfor %}</ul>
                        {%else%}<p>No hay becas disponibles</p>{%endif%}
                    </div>
                </div>
            </div>

        </div>


    {% elif type == "carreras" %}


        <div class="video-container rounded-4 rounded-top-0" style="height: 20rem; width: 100wv; border: 1rem double {{one.cat.color}}; border-top: 0;">
            <img src="{{one.uni.imgs.first.img.url}}" alt="{{one}}" class="video-background">
            <div class="overlay text-white d-flex justify-content-center" style="align-items: center;">
                <div class="text-center">
                    <h1 class="title">{{one.name}}</h1>
                    <h1 class="title fs-5">{{one.cat.name}}</h1>
                    <a class="title fs-4 btn-styles no-line p-2" href="{% url 'main:one' 'unis' one.uni.id %}">{{one.uni.name}}</a>
                </div>
            </div>
        </div>
        
        <div class="px-5">

            <p class="my-3">{{one.desc}}</p>

            {% load custom_filters %}
            <div class="bg-light-reddish row my-5 py-3 justify-content-center gap-5 rounded-3 text-center">
                <div class="col-3 bg-cream rounded-3 py-2">
                    <img src="{% static 'svg/file-invoice-dollar-solid.svg' %}" style="height: 2rem;"/>
                    <div>
                        <span class="title fs-3">Precio: </span> {% if not one.is_public %}${{ one.precio|to_int }} pesos{%else%}Sin arancel{%endif%}
                    </div>
                </div>
                <div class="col-3 bg-cream rounded-3 py-2">
                    <img src="{% static 'svg/book-open-reader-solid.svg' %}" style="height: 2rem;"/>
                    <div>
                        <span class="title fs-3">Modalidad: </span>{{one.modalidad}}
                    </div>
                </div>
                <div class="col-3 bg-cream rounded-3 py-2">
                    <img src="{% static 'svg/clock-solid.svg' %}" style="height: 2rem;"/>
                    <div>
                        <span class="title fs-3">Duración: </span> {{one.duration}} años
                    </div>
                </div>
            </div>
            
            <p class="mt-3 fs-5">Para más información, consulte la página oficial de la institución.</p>

        </div>


    {% elif type == "cursos" %}


        <div class="video-container rounded-4 rounded-top-0" style="height: 20rem; width: 100wv; border: 1rem double {{one.cat.color}}; border-top: 0;">
            <img src="{{one.imgs.first.img.url}}" alt="{{one}}" class="video-background">
            <div class="overlay text-white d-flex justify-content-center" style="align-items: center;">
                <div class="text-center">
                    <h1 class="title">{{one.name}}</h1>
                    <h1 class="title fs-5">{{one.cat.name}}</h1>
                    <a class="title fs-4 btn-styles no-line p-2" href="{% url 'main:one' 'unis' one.uni.id %}">{{one.uni.name}}</a>
                </div>
            </div>
        </div>

        <div class="px-5">
            <p class="my-3">{{one.desc}}</p>

            <div class="bg-light-reddish row my-5 py-3 justify-content-center gap-5 rounded-3 text-center">
                <div class="col-3 bg-cream rounded-3 py-2">
                    <img src="{% static 'svg/file-invoice-dollar-solid.svg' %}" style="height: 2rem;"/>
                    <div>
                        <span class="title fs-3">Precio:</span> ${{ one.precio|to_int }} pesos<br>
                    </div>
                </div>
                <div class="col-3 bg-cream rounded-3 py-2">
                    <img src="{% static 'svg/book-open-reader-solid.svg' %}" style="height: 2rem;"/>
                    <div>
                        <span class="title fs-3">Modalidad:</span> {{ one.modalidad }}<br>
                    </div>
                </div>
                <div class="col-3 bg-cream rounded-3 py-2">
                    <img src="{% static 'svg/clock-solid.svg' %}" style="height: 2rem;"/>
                    <div>
                        <span class="title fs-3">Duración:</span> {{ one.duration }} meses<br>
                    </div>
                </div>
            </div>

            <a class="btn btn-styles fs-4" href="{{ one.enroll }}">Inscribirse</a>
            <p class="mt-5 fs-5">Para más información, consulte la página oficial de la institución.</p>
        </div>


    {% elif type == "becas" %}
    

        <div class="video-container rounded-4 rounded-top-0" style="height: 20rem; width: 100wv;">
            <img src="{{one.uni.imgs.first.img.url}}" alt="{{one}}" class="video-background">
            <div class="overlay text-white d-flex justify-content-center" style="align-items: center;">
                <div class="text-center">
                    <h1 class="title">{{one.name}}</h1>
                    <a class="title fs-4 btn-styles no-line p-2" href="{% url 'main:one' 'unis' one.uni.id %}">{{one.uni.name}}</a>
                </div>
            </div>
        </div>
        
        <div class="px-5">
            <p class="my-3">{{one.desc}}</p>

            {% load custom_filters %}
            <div class="bg-light-reddish row my-5 py-3 justify-content-center gap-5 rounded-3 text-center">
                <div class="col-3 bg-cream rounded-3 py-2">
                    <img src="{% static 'svg/file-invoice-dollar-solid.svg' %}" style="height: 2rem;"/>
                    <div>
                        <span class="title fs-3">Beca por:</span> ${{ one.precio|to_int }} pesos<br>
                    </div>
                </div>
            </div>

            <a class="btn btn-styles fs-4" href="{{ one.enroll }}">Postularse</a>
            <p class="mt-5 fs-5">Para más información, consulte la página oficial de la institución.</p>
        </div>

    {%endif%}

{% endblock %}