{% extends "base.html" %}{% block title %}Buscador{% endblock %}
{% block content %}                                <!-- GETS FROM ctx: unis, cats, carreras & query -->

    {% load static %}

    <div class="row">
        <div class="col-10">
            {% if query %}<h1 class="mb-3">BUSCANDO POR {{query}}</h1>{% endif %}        <!-- SHOWS query if any -->
            <h1 class="title mb-4">CARRERAS:</h1> <!-- SHOWS ALL carreras FILTERED -->

            {% if carreras %}
                <div class="row">
                    {% for carrera in carreras %}
                        <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title mb-0 fs-3 title">{{ carrera.name }}</h3>
                                </div>
                                <div class="card-body">
                                    <p>{{ carrera.desc|slice:100 }}... </p>
                                    <a href="{% url 'main:one' 'carreras' carrera.id %}" class="btn btn-styles mb-3">Ver detalles</a>
                                    <div class="fw-medium">
                                        <a class="links" href="{% url 'main:one' 'unis' carrera.uni.id %}">{{ carrera.uni.name }}</a>
                                        <p class="mb-0" style="color: {{carrera.cat.color}};">{{carrera.cat.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}

                <h3>No se han encontrado carreras</h3>
            {% endif %}
        </div>
        
        <div class="col-2 p-0 sticky-col">
            {% include "widgets/filters.html" %}
        </div>

    </div>

    <section class="clear text-center mt-2">
        {% if carreras.has_previous %}<a class="fs-1 links" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ carreras.previous_page_number }}"><img src="{% static 'svg/arrow-up-solid.svg' %}" style="width: 2rem; transform: rotate(-90deg);"></a>{% endif %}
        <span class="mx-4"></span>
        {% if carreras.has_next %}<a class="fs-1 links" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ carreras.next_page_number }}"><img src="{% static 'svg/arrow-up-solid.svg' %}" style="width: 2rem; transform: rotate(90deg);"></a>{% endif %}
    </section>
    

{% endblock %}